name: Template Build

on:
  push:
    branches:
      - main
  pull_request_target:
    paths:
      - assets/**
      - config/**
  pull_request:

jobs:
  build-deploy:
    name: Test Build template
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          # renovate: datasource=github-tags depName=golang/go
          go-version: '1.24.1'

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          # renovate: datasource=github-releases depName=gohugoio/hugo
          hugo-version: '0.145.0'
          extended: true

      - name: Clean cache
        run: hugo mod clean

      - name: Build
        run: hugo --minify
