name: Template Build

on:
  push:
    branches:
      - main
  pull_request_target:
    paths:
      - assets/**
      - config/**
  pull_request:

jobs:
  build-deploy:
    name: Test Build template
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: '1.26.0'

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3.0.0
        with:
          # renovate: datasource=github-releases depName=gohugoio/hugo
          hugo-version: '0.156.0'
          extended: true

      - name: Clean cache
        run: hugo mod clean

      - name: Build
        run: hugo --minify
